:root{
    --primary-color: #202020;
    --primary-color-two: #262626;
    --secondary-color: #a86527;
    --text-color-one: #fcf0da
}

.bg-primary {
    background-image: linear-gradient(to top, #3a281c, #525252);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.border-secondary {
    border-color: var(--secondary-color);
}

.text-color-primary {
    color: var(--text-color-one);
}

.product-bg-card{
    background-image: linear-gradient(to top, #3a281c, #525252);
}

.product-bg-card:hover{
    border: 1px solid var(--secondary-color)
}

.expandable {
    transition: all .3s ease-in-out;
    transform-origin: left top;
    transform: scaleY(0);
}

.e-show {
    transform: scaleY(1);
}